@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: rgba(166, 176, 231, 0.301);
    color: rgb(43, 39, 39);
    font-family: "Roboto", sans-serif;
}

.container h1{
    font-weight: bolder;
    text-align: center;
    font-size: 4rem;
    padding: 1rem 2rem;
}

.container img{
    height: auto;
    width: 50%;
    margin: 1rem 4rem 2rem;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(255, 254, 254) ;
}

.container p{
    margin: 1rem 4rem 2rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(16, 45, 78, 0.918);
    color: floralwhite;
}

.ingredients{
    font-size: 2.5rem;
    margin: 2rem;
    padding: 1rem 2rem;
    font-weight: bolder;
}

h3{
    margin: 2rem 2rem;
    padding: 1rem 3rem;
    font-size: 1.5rem;
}

.lists li{
    line-height: 2;
    margin: 1rem 5.6rem;
    list-style: none;
    font-weight: 600;
}

.procedure li p{
    line-height: 2;
    margin: 1rem 5rem;
    font-weight: 600;
}